

<div class="title">
  <h1>Welcome to the HRCWA</h1>
</div>

<div class="home">
  <table>
    <tr>
      <td><p1>Change to whatever I want this to be sooner or later</p1></td>
      <td><div class="times">
        <ul>
          <li><a href="/all">All time records</a></li>
          <li><a href="/month">Last month records</a></li>
          <li><a href="/week">This week records</a></li>
          <li><a href="/day">Today's records</a></li>
        </ul>
      </div></td>
    </tr>
  </table>  
</div>